/** reset **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
img {border:0;}

/** **/
body {
background:#f1f3f6;
color:#555;
font:12px/16px Verdana, Arial, Helvetica, sans-serif;
}

#base {
background:#fff;
margin:0 auto;
padding:20px;
width:90%;
}

h1 {
font:bold 18px/22px Verdana, Arial, Helvetica, sans-serif;
color:#393939;
padding:0 0 15px 0;
}

h1#header {
background:#3e3e3e;
color:#e7e7e7;
padding:20px;
margin:-20px -20px 10px -20px;
}

h3 {
font:bold 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#4e4e4e;
padding:0 0 15px 0;
}

p {
padding:0 0 15px 0;
}

pre {
background:#e7e7e7;
border:1px solid #ccc;
padding:10px;
margin:0 0 10px 0;
}

pre, .code {
color:#333;
font-family:"Courier New", Courier, monospace;
}

ul {
padding-bottom:10px;
}

ul li {
list-style-position:inside;
list-style-type:square;
padding:0 0 0 10px;
}

dl {
}

dt {
}

dd {
}

a {
color:#0076a3;
text-decoration:none;
}

a:hover {
background:#e7e7e7;
}

.clearfloat {
clear:both;
height:0;
font-size: 1px;
line-height: 0px;
}

/** layout **/
